{{ define "main" }}

<!-- contact -->
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">{{ i18n "booking_title" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="GET" target="_top">
          <input type="email" class="form-control mb-3" id="mail" name="email" placeholder="{{ i18n "your_email" }}">
          <textarea name="body" id="message" class="form-control mb-3" placeholder="{{ i18n "your_message" }}"></textarea>
          <button type="submit" value="send" class="btn btn-primary">{{ i18n "booking" }}</button>
        </form>
      </div>
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
    <div class="row">
      <div class="mt-5 col-lg-12">
        {{ .Params.booking_alternatives | markdownify }}
        <a href="{{ .Params.booking_alternatives_link }}">
          <img src="{{ .Params.booking_alternatives_image | absURL }}">
        </a>
      </div>
      <div class="mt-5 col-lg-12">
        {{ .Params.Information | markdownify }}
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

{{ end }}
