// Color Variables
$primary-color: #ad9782;
// $primary-color: #D1CABE;
// $primary-color: #1a5974;
// $primary-color: #b99a45;
// $secondary-color: #1a1a37;
$secondary-color: #062735;
$text-color: #4f5e64;
$text-color-light: #92acb7;
$text-color-dark: #04364b;
$body-color: #fff;
$border-color: #ededf1;
$black: #062735;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat';
// $secondary-font: 'futura-bold';
$icon-font: 'themify';
